@font-face {
    font-family: "Aurebesh";
    src: url('assets/Aurebesh.otf');
}

body {
    background-color: #FFC300;
    border: 5px solid #000814c7;
}

.wrapper {
    width: min(1000px, 100%)
}

h1 {
    font-family: "Kode Mono", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #FFD60A;
    padding: 1rem 1rem;
    text-align: center;
    background-color: #000814c7;
    margin-bottom: 1rem;
    outline: 5px solid #ffc4009a;
    outline-offset: -.8rem;
}

main p {
    font-family: "Expletus Sans", sans-serif;
    margin: 1rem;
    font-style: italic;
    font-weight: 800;
    text-align: center;
}

span {
    font-size: 0.8rem;
    font-style: normal;
}

.trans-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    gap: 1rem;
}

textarea {
    font-family: "Expletus Sans", sans-serif;
    font-weight: 600;
    color: #000814;
    padding: .5rem;
    resize: none;
    font-size: 1.5rem;
    border: 2px solid #00081493;
    height: 250px;
}

textarea:focus {
    outline: 2px solid #FFC300;
    outline-offset: -4px;
}

#two {
    font-family: "Aurebesh";
}

main p:nth-of-type(2) {
    font-style: normal;
    margin-bottom: 2rem;
}

.github {
    width: 15%;
    display: inline-block;
    transition: all 300ms;
}

.github:hover {
    transform: scale(1.2);
}

footer {
    text-align: center;
}

footer p {
    font-style: normal;
    color: #FFD60A;
    background-color: #000814c7;
    padding: 0.7rem;
    width: fit-content;
    margin: 1rem auto;
    outline: 2px solid #FFC300;
    outline-offset: -5px;
}

.button-box {
    display: flex;
    position: relative;
}

.butt {
    position: absolute;
    inset: 200px 20px 15px 20px;
    font-family: "Expletus Sans", sans-serif;
    border-radius: 5px;
    border-style: none;
    background-color: #000814c7;
    color: whitesmoke;
    font-weight: 800;
}

.butt:active {
    background-color: #03142ee8;
}

#one {
    width: 100%;
}

/* DESKTOP STYLES */

@media (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        background-color: #000814;
        border: none;
    }

    .wrapper {
        padding: 2.5rem;
        /* border: 5px solid #000814b9; */
        outline: 5px solid #FFC300;
        background-color: #FFC300;
        outline-offset: 10px;
    }

    .trans-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    span {
        font-size: 1rem;
        display: block;
    }

    textarea {
        font-size: 1.8rem;
    }

    footer p {
        font-size: 1.2rem;
    }

    main > p {
        font-size: 1.2rem;
    }

    .butt {
        inset: 220px 20px 15px 20px;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        transition: 200ms;
    }

    .butt:hover {
        background-color: #03142ee8;
    }
}